/**
 * Created by BRITENET on 22.01.2020.
 */
.THIS {
    padding: 30px;
}

.THIS h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.THIS img{
    margin: 20px;
}

.THIS .chosenPhoto{
    border: solid 3px deepskyblue;
}