/**
 * Created by BRITENET on 27.01.2020.
 */
.THIS h2{
    font-size: 24px;
}

.THIS .slds-form-element__label{
    font-size: 16px;
}

.THIS .rules{
    margin-bottom: 30px;
}

.THIS .slds-input{
    width: 610px;
}