/**
 * Created by BRITENET on 06.01.2020.
 */
.THIS .description{
    width: 250px;
    height: 75px;
}

.THIS .product {
    border: solid 2px deepskyblue;
    width: 260px;
    padding: 5px;
    margin: 10px;
}

.THIS .oldPrice{
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.THIS .productName {
    font-size: 16px;
    font-weight: bold;
    width: 240px;
    color: black;
}

.THIS .productPrice {
    font-size: 18px;
    color: midnightblue;
}

.THIS a{
    text-decoration: none;
}